.about-section {
    padding: 7rem 4rem;
    background: #0A1628;
    position: relative;
    overflow: hidden;
}

.about-section-::before {
    content: 'ABOUT';
    position: absolute;
    right: -2rem;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    font-weight: 900;
    color: rgba(201, 168, 76, 0.03);
    pointer-events: none;
    letter-spacing: 0.1em;
}

.about-container {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
}

/*IMAGE*/

.about-img-wrap {
    position: relative;
    
}


.about-img-box {
    width: 800px;
    height: 300px;
    position:relative;
    aspect-ratio: 4/3;
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid rgba(201, 168, 76, 0.15);
}


.about-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}


.about-exp-badge {
    position: absolute;
    bottom: 1rem;
    right: -1.5rem;
    width: 130px;
    height: 130px;
    background: #C9A84C;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 10px 30px rgba(201, 168, 76, 0.03);
}

.about-exp-num {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #0A1628;
    line-height: 1;
}

.about-exp-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.55rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0A1628;
    margin-top: 4px;
    padding: 0 10px;
    text-align: center;
}

/* CONTENT */
.about-text {
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.9;
    color: #8A9BB0;
    margin-top: 1.2rem;
}

.about-text strong {
    color: #E8EAF0;
    font-weight: 500;
}

.about-btn {
    margin-bottom: 2.5rem;
    display: inline-block;
    
}


/* VALUES */
.about-values {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding-top: 2rem;
    border-top: 1px solid rgba(201, 168, 76, 0.1);
}

.about-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.about-value-icon {
    font-size: 1.8rem;
}

.about-value-label {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #C9A84C;
}

@media (max-width: 768px) {
  .about-section {
    padding: 5rem 2rem;
  }
  .about-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .about-exp-badge {
    bottom: -1rem;
    right: -1rem;
    width: 100px;
    height: 100px;
  }
  .about-exp-num {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .about-values {
    gap: 1.5rem;
  }
}