.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 4rem;
    background: rgba(10, 22, 40, 0.97);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(201, 168, 76, 0.15);
    transition: all 0.3s;
}

.navbar-scrolled {
    padding: 0.9rem 4rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

/*LOGO*/
.navbar-logo {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.logo-brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #C9A84C;
    letter-spacing: 0.04rem;
    line-height: 1;
}

.logo-sub {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.6rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: #8A9BB0;
    margin-top: 4px;
}

/* desktop links**/
.navbar-links {
    display: flex;
    gap:2.5rem;
    list-style: none;
    align-items: center;
}

.navbar-links a {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #E8EAF0;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
}

.navbar-links a::after {
    content:  '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 1px;
    background: #C9A84C;
    transition: width 0.3s;
}

.navbar-links a:hover {
    color: #C9A84C; 
}

.navbar-links a.active::active {
    width: 100%;
}

/** manage button*/
.navbar-manage {
    border: 1px solid rgba(201, 168, 76, 0.4) !important;
    padding: 0.4rem 1rem;
    border-radius: 2px;
    color: #C9A84C !important;
    transition: all 0.3s !important;
}

.navbar-manage:hover {
    background: #C9A84C !important;
    color: #0A1628 !important;
}

.navbar-manage::after {
    display: none !important;
}

/* HAMBURGER */
.navbar-hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.navbar-hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    background: #C9A84C;
    transition: all 0.3s;
}

/* MOBILE MENU */
.navbar-mobile {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    background: rgba(10, 22, 40, 0.98);
    backdrop-filter: blur(12px);
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
    border-bottom: 1px solid rgba(201, 168, 76, 0.15);
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
}

.navbar-mobile a {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #E8EAF0;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-mobile a:hover {
    color: #C9A84C;
}

/* responsive */

@media (max-width: 1024px) {
    .navbar {
        padding: 1.2rem 2rem;
    }
    .navbar-scrolled {
        padding: 0.8rem 2rem;
    }
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }
    .navbar-hamburger {
        display: flex;
    }
}

.logo-image {
    width: 40px;
    height: 40px;
    position: relative;
    align-items: right;
    
}